[package]
name = "sns-quill"
version = "0.1.0"
authors = ["DFINITY Team"]
edition = "2018"

[[bin]]
name = "sns-quill"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.34"
base64 = "0.13.0"
bip39 = "1.0.1"
candid = "0.7.14"
clap = "3.0.0-beta.5"
flate2 = "1.0.22"
hex = {version = "0.4.2", features = ["serde"] }
ic-agent = "0.15.0"
ic-base-types = { git = "https://github.com/dfinity/ic", rev = "fe5509b182897bb0aebadd10ede59140e1b2905f" }
ic-sns-governance = { git = "https://github.com/dfinity/ic", rev = "fe5509b182897bb0aebadd10ede59140e1b2905f" }
ic-types = "0.3.0"
ledger-canister = { git = "https://github.com/dfinity/ic", rev = "fe5509b182897bb0aebadd10ede59140e1b2905f" }
libsecp256k1 = "0.7.0"
num-bigint = { version = "0.4.3", features = ["serde"] }
openssl = "0.10.32"
pem = "1.0.1"
rand = { version = "0.8.4", features = ["getrandom"] }
reqwest = "0.11.7"
simple_asn1 = "0.6.1"
serde = { version = "1.0.130", features = ["derive"] }
serde_bytes = "0.11.2"
serde_cbor = "0.11.2"
serde_json = "1.0.57"
tiny-hderive = "0.3.0"
tokio = { version = "1.2.0", features = [ "fs" ] }

[dev-dependencies]
tempfile = "3.3.0"

[features]
static-ssl = ["openssl/vendored"]
